.List {
    width: 500px;
    margin: 0 auto;
}
.List-ul li {
    display: flex;
    flex-direction: row;
    padding: 4px;
}
.List-ul li:nth-child(odd) {
    background: rgba(0,0,0,0.08);
}
.item-price {
    padding: 0 5px;
}
.item-name {
    flex-grow: 10;
    text-align: left;
}